<!-- <form (submit)="agregarcorreo()" [formGroup]="form">
<h2>Ingrese el Correo</h2>
  <div class="mb-3 row">


    <div  formArrayName="correos">

      @for (correo of correos.controls; track $index; let i = $index) {
      <div class="input-group">
        <mat-form-field appearance="outline">


        <input placeholder="Correo" matInput [formControlName]="i" >

        @if (formUtilidades.isValidFieldInArray(correos,i)) {
        <mat-error>{{formUtilidades.getFieldErrorInArray(correos,i)}}</mat-error>

        }
      </mat-form-field>
      <button  (click)="onDeletecorreo(i)" class="btn btn-outline-danger" type="button">eliminar</button>

      </div>


      }
    </div>
  </div>

      <div>

        <button class="btn btn-outline-primary" type="button" (click)="newcorreo()">
          Agregar otro Correo
        </button>

      </div>
      <div class="contenedor-botones">
    <button mat-flat-button
    [disabled]="form.invalid">
    Insertar Correo</button>

  </div>


   <div formArrayName="correos">

  @for (correo of correos.controls; track $index; let i = $index) {
  <mat-form-field appearance="outline">

    <input placeholder="Correo" matInput [formControlName]="i" (blur)="onTouchedCb"  >
    @if (formUtilidades.isValidFieldInArray(correos,i)) {
      <mat-error>{{formUtilidades.getFieldErrorInArray(correos,i)}}</mat-error>

    }
  </mat-form-field>

  }
  <h2>Agregar otro Correo</h2>
  <button class="boton-areglo" [disabled]="form.invalid"  mat-flat-button class="secundary"  type="button" (click)="newcorreo()">Agregar</button>

</div> -->
<!-- </form> -->
<form (ngSubmit)="agregarcorreo()"   [formGroup]="form">
    <fieldset >
    <legend>Correo</legend>
  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput  [formControl]="form.controls.correos" formControlName="correos" (blur)="onTouchedCb">
    @if (formUtilidades.isvalidField(form,'correos')) {
      <mat-error>{{formUtilidades.getFieldError(form,"correos")}}</mat-error>
    }
  </mat-form-field>
  </fieldset>
   <button mat-flat-button
    [disabled]="form.invalid">
    Insertar Correo</button>
</form>
