<!-- <h2>Ingrese el Telefono</h2>
<form (submit)="agregartelefono()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Tipo</mat-label>
    <input placeholder="Ej: casa,trabajo,etc" matInput [formControl]="form.controls.tiponumero" formControlName="tiponumero">
    @if (formUtilidades.isvalidField(form,'tiponumero')) {
    <mat-error>{{formUtilidades.getFieldError(form,"tipo")}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Codigo Pais</mat-label>
    <input placeholder="Ej: +809" matInput [formControl]="form.controls.codigopais" formControlName="codigopais">
    @if (formUtilidades.isvalidField(form,'codigopais')) {
    <mat-error>{{formUtilidades.getFieldError(form,"codigopais")}}</mat-error>
    }
  </mat-form-field>
  <div class="mb-3 row">
    <div formArrayName="numero">
      @for (numeros of numero.controls; track $index; let i =$index) {
      <div class="input-group">
        <mat-form-field appearance="outline">

          <input placeholder="Numero" matInput [formControlName]="i" type="number">
          @if (formUtilidades.isValidFieldInArray(numero,i)) {
          <mat-error>{{formUtilidades.getFieldErrorInArray(numero,i)}}</mat-error>

          }
        </mat-form-field>
        <button (click)="onDeletenumero(i)" class="btn btn-outline-danger" type="button" >Eliminar</button>

      </div>
      }

    </div>

  </div>
  <div>

    <button class="btn btn-outline-primary" type="button" (click)="newnumeros()">
      Agregar Numero
    </button>

  </div>

  <div class="contenedor-botones">
    <button mat-flat-button [disabled]="form.invalid">
      Insertar Telefono</button>

  </div>


</form> -->

<form (submit)="agregartelefono()"  [formGroup]="form">
  <fieldset>
    <legend>Telefono</legend>
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <input placeholder="Ej casa,trabajo,etc" matInput [formControl]="form.controls.tiponumero" formControlName="tiponumero" (blur)="onTouchedCb">
      @if (formUtilidades.isvalidField(form,'tiponumero')) {
      <mat-error>{{formUtilidades.getFieldError(form,"tiponumero")}}</mat-error>
    }

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Codigo Pais</mat-label>
      <input placeholder="Ex. +809" matInput [formControl]="form.controls.codigopais" formControlName="codigopais" (blur)="onTouchedCb">
      @if (formUtilidades.isvalidField(form,'codigopais')) {
      <mat-error>{{formUtilidades.getFieldError(form,"codigopais")}}</mat-error>
    }
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Numero</mat-label>
    <input  type="number" matInput [formControl]="form.controls.numero" formControlName="numero" (blur)="onTouchedCb">
    @if (formUtilidades.isvalidField(form,'numero')) {
      <mat-error>{{formUtilidades.getFieldError(form,"numero")}}</mat-error>
    }
  </mat-form-field>
  </fieldset>
  <div class="contenedor-botones">
    <button mat-flat-button [disabled]="form.invalid">
      Insertar Telefono</button>

  </div>



</form>






