.persona-contenedor{
   border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}
p{
  max-width: 225px;
  font-size:15px;
  font-weight:bold;
}
button{
  margin-left:5rem;
}
.boton{
  margin-bottom:1rem;
}
