<!-- <form (submit)="agregardirrecion()" [formGroup]="form">
  <h2>Ingrese la Dirrecion</h2>
  <mat-form-field appearance="outline">
  <mat-label>Tipo:</mat-label>
    <input matInput placeholder="ej trabajo, casa, etc."
    [formControl]="form.controls.tipodirrecion"
    formControlName="tipodirrecion"/>
     @if (formUtilidades.isvalidField(form,'tipodirrecion')) {
      <mat-error>{{formUtilidades.getFieldError(form,"tipo")}}</mat-error>
    }
  </mat-form-field>

  <div formArrayName="ubicacion">
    @for (ubicaciones of ubicacion.controls; track $index; let i = $index) {
      <div class="input-group">
        <mat-form-field appearance="outline">
          <input placeholder="Ubicacion" matInput [formControlName]="i">
          @if (formUtilidades.isValidFieldInArray(ubicacion,i)) {
        <mat-error>{{formUtilidades.getFieldErrorInArray(ubicacion,i)}}</mat-error>
        }
        </mat-form-field>
        <button (click)="onDeleteubicacion(i)" class="btn btn-outline-danger" type="button">Eliminar</button>
      </div>
    }
  </div>
  <div>
    <button class="btn btn-outline-primary" type="button" (click)="newubicacion()">
          Agregar atra Ubicacion
        </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Ciudad:</mat-label>
    <input matInput [formControl]="form.controls.ciudad" formControlName="ciudad"   />
     @if (formUtilidades.isvalidField(form,'ciudad')) {
      <mat-error>{{formUtilidades.getFieldError(form,"ciudad")}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Provincia:</mat-label>
    <input matInput [formControl]="form.controls.provincia" formControlName="provincia"   />
       @if (formUtilidades.isvalidField(form,'provincia')) {
      <mat-error>{{formUtilidades.getFieldError(form,"provincia")}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Codigo Postal:</mat-label>
    <input matInput [formControl]="form.controls.codigopostal" formControlName="codigopostal"  />
       @if (formUtilidades.isvalidField(form,'codigopostal')) {
      <mat-error>{{formUtilidades.getFieldError(form,"codigopostal")}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Pais:</mat-label>
    <input matInput [formControl]="form.controls.pais" formControlName="pais"   />
       @if (formUtilidades.isvalidField(form,'pais')) {
      <mat-error>{{formUtilidades.getFieldError(form,"pais")}}</mat-error>
    }

  </mat-form-field>

  <div class="contenedor-botones">
    <button mat-flat-button [disabled]="form.invalid">
      Insertar Dirrecion</button>

  </div>

</form> -->

<form (submit)="agregardirrecion()"  [formGroup]="form">
  <fieldset>
    <legend>Dirreicones</legend>
  <mat-form-field appearance="outline">
    <mat-label>Tipo:</mat-label>
    <input matInput placeholder="ej trabajo, casa, etc."
    [formControl]="form.controls.tipodirrecion"
    formControlName="tipodirrecion" (blur)="onTouchedCb" />
     @if (formUtilidades.isvalidField(form,'tipodirrecion')) {
      <mat-error>{{formUtilidades.getFieldError(form,"tipodirrecion")}}</mat-error>
    }


  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ubicacion:</mat-label>
    <input matInput [formControl]="form.controls.ubicacion" formControlName="ubicacion" (blur)="onTouchedCb"  />
     @if (formUtilidades.isvalidField(form,'ubicacion')) {
      <mat-error>{{formUtilidades.getFieldError(form,"ubicacion")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ciudad:</mat-label>
    <input matInput [formControl]="form.controls.ciudad" formControlName="ciudad" (blur)="onTouchedCb"  />
     @if (formUtilidades.isvalidField(form,'ciudad')) {
      <mat-error>{{formUtilidades.getFieldError(form,"ciudad")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Provincia:</mat-label>
    <input matInput [formControl]="form.controls.provincia" formControlName="provincia" (blur)="onTouchedCb"  />
       @if (formUtilidades.isvalidField(form,'provincia')) {
      <mat-error>{{formUtilidades.getFieldError(form,"provincia")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Codigo Postal:</mat-label>
    <input matInput [formControl]="form.controls.codigopostal" formControlName="codigopostal" (blur)="onTouchedCb" />
       @if (formUtilidades.isvalidField(form,'codigopostal')) {
      <mat-error>{{formUtilidades.getFieldError(form,"codigopostal")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Pais:</mat-label>
    <input matInput [formControl]="form.controls.pais" formControlName="pais" (blur)="onTouchedCb"  />
       @if (formUtilidades.isvalidField(form,'pais')) {
      <mat-error>{{formUtilidades.getFieldError(form,"pais")}}</mat-error>
    }

  </mat-form-field>
  </fieldset>
  <div class="contenedor-botones">
    <button mat-flat-button [disabled]="form.invalid">
      Insertar Dirrecion</button>

  </div>

  <!-- <div class="contenedor-botones">
    <button mat-flat-button
    [disabled]="form.invalid">
    guardarCambios</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>
  </div> -->




</form>
