<h2>Ingrese el Nombre de la Perosna</h2>
<form [formGroup]="form">
  <div class="row">
  <div class="col">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre de la Persona"
            [formControl] = "form.controls.nombre"
          />

          @if ( formUtilidades.isvalidField(form,"nombre") ) {
          <span class="form-text text-danger">
            {{ formUtilidades.getFieldError(form,"nombre") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Apellido</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Apellido de la Persona"
            [formControl] = "form.controls.apellido"
          />

          @if ( formUtilidades.isvalidField(form,"apellido") ) {
          <span class="form-text text-danger">
            {{ formUtilidades.getFieldError(form,"apellido") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Cedula</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Cedula de la Perosna"
            [formControl] = "form.controls.cedula"
          />

          @if ( formUtilidades.isvalidField(form,"cedula") ) {
          <span class="form-text text-danger">
            {{ formUtilidades.getFieldError(form,"cedula") }}
          </span>
          }
        </div>
      </div>
      <app-correos></app-correos>
      <app-dirreciones></app-dirreciones>

      <div class="row">
        <div class="col">
          <button [disabled]="form.invalid" mat-flat-button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>

  </div>
</div>
</form>

