@use "@angular/material" as mat;
@use "bootstrap/scss/bootstrap" as *;
.primary{
  @include mat.theme(
    (
      color:mat.$azure-palette
    )
  )

}
.secundary{
  @include mat.theme(
    (
      color:mat.$magenta-palette

    )
  )
}
.warn{
  @include mat.theme(
    (
      color: mat.$red-palette
    )
  )
}
