/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  height: fit-content;
}

form button{
  margin: 1rem;
}
mat-form-field{
  width:100%;
  max-width:500px;
  display:block !important;
  margin-top: 1rem;
}
.contenedor-botones{
  margin-top:1rem
}

fieldset{
  width:100%;
  max-width:500px;
  width:100%;
  margin-top: 1rem;


}
.indice-elementos{
  margin-top:1rem;
}

.indice-elementos a{
  margin-right:1rem;
}

.contenedor{
  display: flex;
}

ul{
  height:200px;
  overflow-y: auto;
  list-style-type: none;
  width:170px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

ul li{
  cursor: pointer;
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  font-size: 14px;
}

ul il:hover{
  background-color: #08c;
}

.div-botones{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

button{
  margin: 5px;
}

